.list {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
}

.listTitle {
    font: var(--baseFont);
    margin-block-start: 0;
    margin-block-end: .5rem;
}

.listContent {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.listItem a {
    font: var(--baseFontBold);
    transition: color .2s;
}