.navigation {
	flex-shrink: 0;
}

.navigation button {
	inline-size: 1.875rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: none;
	background: var(--gray60);
	color: var(--gray10);
}

.navigation button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.navigationPrev i {
	left: -1px;
}

.navigationNext i {
	left: 2px;
}
