@import url(./slider.css);
@import url(./player-controls.css);
@import url(./player-playback.css);
@import url(./player-volumen.css);
@import url(./now-playing.css);

.player {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: inset 0 1px 0 var(--gray10);
}

.player > * {
    flex: 1;    
}

.playerControl {
    border: none;
    padding: .5rem;
    background: none;
    color: var(--gray10);
    font-size: 1rem;
    cursor: pointer;
}

.player-playerVolumen {
    display: flex;
    justify-content: flex-end;
}