:root {
	--sideBarInlineSize: 15rem;
	--minBlockSize: 37.5rem;
	--minInlineSize: 48rem;
	--bottomSize: 5.5rem;
}

.playlistCentralSongs {
	min-inline-size: var(--minInlineSize);
	margin-block-start: 1.71rem;
	display: flex;
	padding-inline-start: 1.14rem;
	justify-content: space-between;
	color: var(--white);
}

.playlistCentrlalTitleSong {
	margin-inline-start: -25rem;
}

.playlistCentrlalTitleSong span {
	color: var(--gray10);
}

.playlistCentrlalDuration {
	display: flex;
	align-self: center;
	inline-size: 5rem;
}
